
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#TNotas').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ Registros",
                    "sZeroRecords": "&nbsp;",
                    "sEmptyTable": "&nbsp;",
                    "sInfo": "Encontrados: _TOTAL_ Registros (Mostrando del _START_ al _END_)",
                    "sInfoEmpty": "* No se han encontrado resultados en la búsqueda",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                aoColumnDefs: [{ 'bSortable': false, 'aTargets': ['no-sortable'] }]
            });
        }
    );

    
</script>
@{ 
    int id = int.Parse(Request["id"]);
    Negocio.ClasesModelo.Usuario user = new Negocio.OperacionesUsuarios().Traer(id);

}
<h2>Notas de en @string.Format("{0} {1} {2} {3}",user.Pnombre,user.Snombre,user.Appat,user.Apmat)</h2>

<table id="TNotas">
    <thead>
        <tr>
            <th>1° nota</th>
            <th>2° nota</th>
            <th>3° nota</th>
            <th>4° nota</th>
        </tr>
    </thead>
    <tr>
        <th><input class="form-control" type="text" id="nota" name="nota1" value="" /></th>
        <th><input class="form-control" type="text" id="nota" name="nota2" value=""/></th>
        <th><input class="form-control" type="text" id="nota" name="nota3" value=""/></th>
        <th><input class="form-control" type="text" id="nota" name="nota4" value=""/></th>
    </tr>
</table>
<center>
    <input class="btn btn-primary" type="button" id="btnNota" name="btnNota" value="Registrar Notas" />
</center>