@{
    ViewBag.Title = "VerAntecedentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(
        function () {
            $("#msj").hide();
        }
    );
</script>
<body>
    <div id="msj" class="alert alert-success">
        Centro registrado con exito
    </div>
    <center>
        <h2>Ver Antecedente</h2>
        <form id="formulario" action="@Url.Action("SubirAntecedente","User")" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td><input type="file" id="archivo" name="archivo" value="Subir" /></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Tipo de documento</td>
                    <td><input class="form-control" type="text" id="tipo" name="tipo" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary" id="btnGuardar" name="btnGuardar" value="Guardar" /></td>
                </tr>
            </table>
        </form>
    </center>
</body>
